Source: linux-upstream
Section: kernel
Priority: optional
Maintainer: ananyapraveen_shetty <ananyapraveen_shetty@vm1.c.warm-ring-440318-c5.internal>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Build-Depends-Arch: bc, bison, cpio, flex,
 gcc-x86-64-linux-gnu <!pkg.linux-upstream.nokernelheaders>,
 kmod, libelf-dev:native,
 libssl-dev:native, libssl-dev <!pkg.linux-upstream.nokernelheaders>,
 rsync
Homepage: https://www.kernel.org/

Package: linux-image-6.12.0+
Architecture: amd64
Description: Linux kernel, version 6.12.0+
 This package contains the Linux kernel, modules and corresponding other
 files, version: 6.12.0+.

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: amd64
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
Multi-Arch: same

Package: linux-headers-6.12.0+
Architecture: amd64
Build-Profiles: <!pkg.linux-upstream.nokernelheaders>
Description: Linux kernel headers for 6.12.0+ on amd64
 This package provides kernel header files for 6.12.0+ on amd64
 .
 This is useful for people who need to build external modules
